.createDiv {
	margin: 4rem;
	padding: 1rem 2rem 3rem 2rem;
	background-color: rgb(255, 240, 212);
	box-shadow: 0 0 0.5rem rgb(193, 173, 138);
	border-radius: 2rem;
}

.createHeader {
	text-align: center;
	margin-bottom: 0;
	font-size: 3rem;
}

.createText {
	margin-bottom: 0.2rem;
	font-size: 2.5rem;
}

.createTitleInput {
	border: none;
	box-shadow: 0 0.2rem 0.7rem rgb(193, 173, 138);
	border-radius: 0.7rem;
	width: 100%;
	height: 3rem;
	font-size: 1.3rem;
}

.createDescInput {
	box-shadow: 0 0.2rem 0.7rem rgb(193, 173, 138);
	border: none;
	border-radius: 0.7rem;
	width: 100%;
	height: 15rem;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	font-size: 1.3rem;
}

.createButton {
	box-shadow: 0 0.2rem 0.7rem rgb(193, 173, 138);
	border: rgb(186, 166, 132) solid 0.2rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	color: rgb(105, 96, 80);
	background-color: rgb(234, 213, 177);
	padding: 1rem 2rem 1rem 2rem;
	transition: 0.15s ease-in;
	margin-top: 1rem;
}

.createButton:hover {
	padding: 1.1rem 2.1rem 1.1rem 2.1rem;
	background-color: rgb(206, 187, 156);
}