.homeHeadDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5rem;
}

.titleHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	background-color: rgb(255, 240, 212);
	width: 100%;
	height: 10rem;
	color: orange;
}

/* NEWS CSS */

.newsContainer {
	background-color: rgb(255, 240, 212);
	border-radius: 1rem;
	padding: 3rem 2rem 3rem 2rem;
}

.newsHeader {
	font-size: 2.5rem;
}

.homeNews {
	display: flex;
}

.newsDiv {
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: white;
	width: 12rem;
	height: 9rem;
	box-shadow: 0 0.7rem 1rem rgb(180, 147, 88);
}

.newsTitle {
	text-align: left;
	margin-top: 0;
}

.newsDesc {
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* POST PART CSS */

.postContainer {
	background-color: rgb(255, 240, 212);
	border-radius: 1rem;
	padding: 3rem 2rem 3rem 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 2.5rem;
}

.postHeader {
	margin-top: 3rem;
	font-size: 2.5rem;
}

.postHeader span {
	margin-left: 0.2rem;
	font-size: 1.4rem;
}

.postDiv {
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: white;
	width: 12rem;
	height: 15rem;
	box-shadow: 0 0.7rem 1rem rgb(180, 147, 88);
}

.postTitle {
	margin-top: 0;
}

.postDesc {
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
