.profilePage {
	height: 80vh;
	justify-content: center;
	display: flex;
	align-items: center;
}

.profileDiv {
	background-color: rgb(255, 240, 212);
	box-shadow: 0 0.3rem 0.8rem rgb(180, 147, 88);
	width: 30rem;
	height: 10rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profileDiv p {
	font-size: 1.7rem;
	margin: 0.5rem;
}